* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}
*::-moz-selection {
    background: #F28AA9;
    color: #CDD5F4;
}
*::selection {
    background: #F28AA9;
    color: #CDD5F4;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
    background-color: #EFF1F5;
    width: 16px;
}
body::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track {
    background-color: #EFF1F5;
}
body::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #EFF1F5;
}
body::-webkit-scrollbar-button, .sidebar::-webkit-scrollbar-button {
    display: none;
}
.dark body::-webkit-scrollbar, .dark .sidebar::-webkit-scrollbar {
    background-color: #1E1E2E;
}
.dark body::-webkit-scrollbar-track, .dark .sidebar::-webkit-scrollbar-track {
    background-color: #1E1E2E;
}
.dark body::-webkit-scrollbar-thumb, .dark .sidebar::-webkit-scrollbar-thumb {
    background-color: #718096;
    border-color: #1E1E2E;
}
.dark body::-webkit-scrollbar-button, .dark .sidebar::-webkit-scrollbar-button {
    display: none;
}